---
layout: default
---

<article class="archive">
    {% for post in paginator.posts %}
    <div class="archive-item">
        <a href="{{site.url}}{{site.baseurl}}{{post.url}}">
            <div class="archive-date">
                <span>{{ post.date | date: "%B %d, %Y" }}</span>
            </div>
            <h1 class="archive-title"><span>{{post.title}}</span></h1>
            {% if post.noexcerpt != 1 %}
            <div class="archive-excerpt">
                {{post.excerpt | truncatewords: 30}}
            </div>
            {% endif %}
        </a>
    </div>
    {% endfor %}
</article>

<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
    {% endif %}

    <span>{{ paginator.page }}</span>
</div>