<div class="wrapper">
    <a href="/">
        <div class="site-title">
            {{site.title}}
        </div>
    </a>
</div>
<div class="wrapper">
    <div class="site-nav">
        <a class="nav-link" href="{{site.url}}{{site.baseurl}}/">首页</a><span class="exclamationMark">/</span>
        <a class="nav-link" href="{{site.url}}{{site.baseurl}}/code/">编程</a><span class="exclamationMark">/</span>
        <a class="nav-link" href="{{site.url}}{{site.baseurl}}/books/">读书</a><span class="exclamationMark">/</span>
        <a class="nav-link" href="{{site.url}}{{site.baseurl}}/algorithm/">算法</a>
    </div>
</div>