@import 'variables';

.archive {
    margin-top: 2rem;

    .archive-item {
        color: $oc-black;
        border-top: .0625rem solid $oc-gray-4;
        margin: 1rem auto 1rem auto;
        width: 55%;

        .archive-date {
            color: $oc-gray-6;
            margin-top: 1rem;
        }

        .archive-title {
            padding-top: 1rem;
            font-weight: bold;
        }

        .archive-excerpt {
            color: $oc-gray-6;
            margin-top: 1rem;
        }
    }

    @include media-query($lg) {
        .archive-item {
            width: 90%;
        }
    }
}

.pagination {
    padding-top: 2rem;
    position: relative;
    text-align: center;

    span {
        color: $oc-gray-7;
        font-size: 1.1rem;
    }

    .arrow {
        color: $oc-gray-7;
        position: absolute;

        &:hover,
        &:focus {
            opacity: .5;
            text-decoration: none;
        }
    }

    .left {
        left: 40%;
    }

    .right {
        right: 40%;
    }
}