@import 'variables';

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

body {
    font: $font-weight #{$font-size}/#{$font-line-height} $font-family;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern"1;
    -moz-font-feature-settings: "kern"1;
    -o-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
    font-kerning: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

ul,
ol {
    margin-left: $spacing-unit;
}

li {

    >ul,
    >ol {
        margin-bottom: 0;
    }

    // list-style-type: none;
}

a {
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: black;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight;
}

blockquote {
    border-left: .25rem solid;
    padding-left: $spacing-unit / 2;
    font-size: 1.125rem;
    letter-spacing: -0.0625rem;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
}

.wrapper {
    margin: 0 auto;
    text-align: center;
}