@import 'variables';

pre,
code {
    font-family: $monospaced;
}

code {
    border-radius: .25rem;
    color: $oc-red-6;
    font-size: 85%;
    padding: .15em .25em;
}

pre {
    margin: 0 0 1rem;
}

pre code {
    background-color: transparent;
    // color: inherit;
    color: $oc-gray-0;
    font-size: 100%;
    padding: 0;
}

.highlight {
    background-color: $oc-gray-8;
    border-radius: .3125rem;
    line-height: 1.4;
    font-weight: 300;
    margin: 0 0 0.25rem;
    padding: 0.5rem;

    pre {
        overflow-x: auto;
    }

    .lineno {
        color: $oc-gray-7;
        display: inline-block; // Ensures the null space also isn't selectable
        padding: 0 .75rem 0 .25rem;
        // Make sure numbers aren't selectable
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    overflow-x: auto;
    display: block;

    // Cells
    >thead,
    >tbody,
    >tfoot {
        >tr {

            >th,
            >td {
                padding: 12px;
                line-height: 1.2;
                vertical-align: top;
            }
        }
    }

    // Remove top border from thead by default
    >caption+thead,
    >colgroup+thead,
    >thead:first-child {
        >tr:first-child {

            >th,
            >td {
                border-top: 0;
            }
        }
    }

    // Account for multiple tbody instances
    >tbody+tbody {
        border-top: 2px solid #333;
    }
}