.site-footer {
    border-top: 1px solid;
    padding: 30px 0;
    margin-top: 3rem;

    .site-url {
        span {
            margin-left: 1rem;
        }
    }

    .site-description {
        font-size: 2rem;
    }

}