.site-footer {
    border-top: 1px solid $oc-gray-6;
    padding: 30px 0;
    margin-top: 3rem;

    .site-description {
        font-size: 2rem;
        font-weight: 300;
    }

    .site-url {
        span {
            margin-left: 1rem;

            a {
                color: $oc-gray-6;
            }
        }
    }

    .site-cnzz {
        margin-top: 1rem;
    }
}