@import 'color';

// Fonts
$serif-primary: 'Libre Baskerville',
'Times New Roman',
Times,
serif;
$serif-secondary: Palatino,
'Palatino LT STD',
'Palatino Linotype',
'Book Antiqua',
'Georgia',
serif;
$sans-serif: 'Helvetica Neue',
'Segoe UI',
Helvetica,
Arial,
sans-serif;
$monospaced: Menlo,
Monaco,
monospace;

$font-family: $sans-serif;
$font-size: 16px;
$font-weight: 400;
$font-line-height: 1.5;

$spacing-unit: 1.875rem;
$content-width: 50rem;

$xs: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

@mixin box-sizing($type: border-box) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    transition: $args;
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}