---
layout: default
---

<article class="post">
    <header class="post-header">
        <h1 class="post-title"> {{page.title}} </h1>
        <div class="post-header-meta">
            Written by <strong><span>{{page.author}}</span></strong>
            <span class="date">on {{page.date | date: "%B %d, %Y"}}</span>
            <ul class="tag">
                {% for tag in page.tags %}
                <li>
                    <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
                        {{ tag }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </header>
    <div class="post-content">
        {{content}}
    </div>
    <div class="copyright">
        <ul>
            <li>版权属于: {{page.author}}</li>
            <li>
                本文连接: <a
                    href="{{site.url}}{{site.baseurl}}{{page.permalink}}">{{site.url}}{{site.baseurl}}{{page.permalink}}</a>
            </li>
            <li>转载声明: 请注明内容出处及本声明,谢谢</li>
        </ul>
    </div>
</article>